/*MAIN BODY*/
body {
	background-color: #4c482e;
}
/*###############################################################################*/
body div{
	margin:5px;
}
/*###############################################################################*/
.container{
	width: 100%
	margin:15px;
	box-sizing: content-box;
}
/*MAIN BODY ENDS*/
/*###############################################################################*/
/*HEADINGS*/
h1 {
	text-decoration: none;
	color: #000;
	font-weight: bolder;
	font-size: 2em;
	font-family: 'Tektur', cursive;
}
/*###############################################################################*/
h2{
	color: #fff;
	font-weight: bold;
	font-size: 1.9em;
}
/*HEADINGS END*/
/*###############################################################################*/
/*NAVIGATION*/
.container-fluid {
	width: 100%;
	padding: 0px;

}
/*###############################################################################*/
#NavCollapse {
	margin:0px;
	width: 100%;
}
/*###############################################################################*/
.navbar {
	background-color: #ccd7d8;
	height: 100px;
	border-radius: 0;
	font-size: 16px;
	width: 100%;
}
.navbar-nav {
	width: 100vw;
}
/*###############################################################################*/
.navbar-toggler-icon {
	padding-right: 0px;
	margin-right: 0px;
}
.visible {
  visibility: visible !important;
}
/*###############################################################################*/
li {
	width: 100%;
	background-color: #ccd7d8;
	color: #4c482e;
	font-weight: bold;
	font-size: 20px;
}
/*###############################################################################*/
li:hover {
	background-color: #ececec;
	color: #000;
}
li a {
	text-align: center;
}
/*NAVIGATION ENDS*/
/*###############################################################################*/
/*MAIN CONTENT*/
body div div div section {
	background-color: #f38c10;
	padding: 0px;
	box-sizing: border-box;
	margin-bottom: 25px;
	margin-right: 20px;
	padding-left: 0px;
}
/*###############################################################################*/
section h3{
	font-size: 1.7em;
	font-weight: bold;
	font-family: 'VT323', monospace;
}
/*###############################################################################*/
section p {
	font-size: 1.1em;
	font-family: 'Ysabeau Infant', sans-serif;
	text-align: left;
}
/*###############################################################################*/ 
div>div>#Chicken>section {
	text-align: center;
}
/*###############################################################################*/
div>div>#Beef>section {
	text-align: center;
}
/*###############################################################################*/
div>div>#Sushi>section {
	text-align: center;
}
/*MAIN CONTENT ENDS*/
/*###############################################################################*/
/*BACK TO TOP LINK*/
body div div a {
	text-decoration: none;
	color: #fff;
}
/*BACK TO TOP LINK ENDS*/
/*###############################################################################*/
/*-AK*/